---
import Layout from "~/src/layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>ぶいちゃふぁぼりす</h1>
    <!-- お気に入り(Favorite)に関する機能を実装する -->
    <!-- インポートからのリスト化、タグ付け、メモ、 等... -->

  </main>
</Layout>
