---
import Layout from "~/src/layouts/Layout.astro";
import LoginButton from "~/src/components/Solid/LoginButton";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>ぶいちゃふぁぼりす</h1>

    <LoginButton client:only="solid-js" />

    <a href="/world/">Go to World Page</a>
  </main>
</Layout>
