---
import Layout from "~/src/layouts/Layout.astro";
import Greet from "~/src/components/Solid/Greet";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Astro</h1>

    <Greet client:only="solid-js" />

    <a href="/world/">Go to World Page</a>
  </main>
</Layout>
