---
import Layout from '~/src/layouts/Layout.astro';
import Greet from '~/src/components/Solid/Greet';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Astro</h1>

    <Greet client:only="solid-js" />
    
    <!--
    <div>
      <input id="name" type="text" placeholder="Enter a name..." />
      <button id="greet">Greet</button>
      <div id="res"></div>
    </div>
    -->

    <a href="/world/">Go to World Page</a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>

<script>

  /*
  import { invoke } from "@tauri-apps/api";
  document.getElementById("greet")?.addEventListener("click", async () => {
    const name = (document.getElementById("name") as HTMLInputElement)?.value;
    const res = await invoke("greet", { name });
    document.getElementById("res")!.innerText =
      `${res} You've been greeted from Rust!`;
  });
  */
</script>