---
import Layout from "~/src/layouts/Layout.astro";
import LoginButton from "~/src/components/Solid/LoginButton";
---

<Layout>
  <main>
    <h1>ぶいちゃふぁぼりす</h1>
    <!-- ログイン機能に関するページを表示する -->
    <LoginButton />
  </main>
</Layout>
