---
import NavigationHeader from "~/src/components/Solid/NavigationHeader";
const description = "A simple VRC favorite lister";
---

<!doctype html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <NavigationHeader client:only="solid-js" />
    <slot />
  </body>
</html>
<style is:global>
  :root,
  #root {
    @apply w-full max-w-screen-xl;
    /* 最大幅を画面幅(1280px)に制限 */
    /* https://tailwindcss.com/docs/max-width */

    --backgroud: rgb(255, 255, 255);
    --foreground: rgb(0, 0, 0);
    --accent: rgb(56, 43, 240);
    --accent-light: rgb(136, 145, 250);
    --accent-dark: rgb(9, 1, 129);

  }
  .dark {
    /* ダークモードを実装するときのためのクラス */
    /* tailwindの設定項目にクラスによるダークモード設定を指定している */
    /* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
  }
  html {
    font-family: system-ui, sans-serif;
    background-size: 224px;
  }
  body {
    @apply flex flex-col items-center;
    /* display: flex */
    /* flex-direction: column */
    /* align-items: center */
  }
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  /* LoginButtonの入力欄を消すため */
  .none-visible {
    display: none;
  }
  
</style>
